In [ ]:
from faker import *
import sqlite3
import hashlib
import random

'''
    Notebook to populatr SQLite database after initial GO creation

    randomized data using faker, also two admin accounts

    all password = 'a'

'''

In [ ]:
#sqlite connection


cons = [sqlite3.connect("mechat0.sqlite"),
        sqlite3.connect("mechat1.sqlite"),
        sqlite3.connect("mechat2.sqlite")
        
]
curs = [i.cursor() for i in cons]

In [3]:
# admin


password = hashlib.sha256("a".encode("utf-8")).hexdigest()

fake = Faker()

data = (
    password,
    "admin@admin.ca",
    "admin",
    "admin",
    "Student")

for cur in curs:

    cur.execute('''INSERT INTO users (
        [password], 
        [email], 
        [firstname], 
        [lastname], 
        [descr])
                
    VALUES (?, ?, ?, ?, ?);''', data)

for con in cons:
    con.commit()



data = (
    password,
    "admin2@admin2.ca",
    "admin",
    "admin",
    "Student")

for cur in curs:
    cur.execute('''INSERT INTO users (
        [password], 
        [email], 
        [firstname], 
        [lastname], 
        [descr])
                
    VALUES (?, ?, ?, ?, ?);''', data)


for con in cons:
    con.commit()

#res = curs[9].execute("SELECT * FROM users;")
#res.fetchall()

In [4]:
#profiles



for i in range(20):
    data = (
        password,
        fake.email(),
        fake.first_name(),
        fake.last_name(),
        "Student")
    
    for cur in curs:
        cur.execute('''INSERT INTO users (
            [password], 
            [email], 
            [firstname], 
            [lastname], 
            [descr])
        VALUES (?, ?, ?, ?, ?);''', data)
    
    for con in cons:
        con.commit()

#res = cur.execute("SELECT * FROM users;")
#res.fetchall()

In [5]:
# contacts

for i in range(1, 22):
    for j in range(1, 22):
        if i != j:
            data = (i, j)
            for cur in curs:
                cur.execute('''INSERT INTO contacts (
            [userid],
            [contactid])
        VALUES (?, ?);''', data)

for con in cons:
    con.commit()
#res = cur.execute("SELECT * FROM contacts;")
#res.fetchall()

In [6]:
# messages

for i in range(10000):
        _from = random.randint(1, 21)
        _to = random.randint(1, 21)
        while _from == _to:
                _to = random.randint(1, 21)

        text = fake.paragraph(nb_sentences=random.randint(1, 3))
        timestamp = "7:30pm"
        acked = 1

        data = (_from, _to, text, timestamp, acked)
        for cur in curs:
                cur.execute('''INSERT INTO messages (
                                        [from_userid], 
                                                                [to_userid],
                                                                [message],
                                                                [timestamp],
                                                                [acked])
                                VALUES (?, ?, ?, ?, ?)''', data)

for con in cons:
        con.commit()
        #res = cur.execute("SELECT * FROM messages;")

#res.fetchall()

In [7]:
#res = cur.execute("SELECT * FROM messages  ORDER BY rec_id DESC;")

#res.fetchall()


#con.close()